.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}

.backToHome {
  padding: 1rem 0 5rem;
}

@media only screen and (min-width:769px) {
  .backToHome a {
    padding: 0 0 0 10%;
  }
} 

