@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sea-foam: #def3f6;
  --shallow: #76b6c4;
  --sky-blue: #7fcdff;
  --swim-area: #1da2d8;
  --deap-sea: #064273;
  --sand: #C2B280;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color:  var(--deap-sea);
}



a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  width: 100%;
} */