
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}
  
.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  padding: 1rem 0;

}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.container {
  width: 100%;
  padding: 1rem 1rem;
  /* margin: 3rem auto 1rem; */
  display: flex;
  flex-direction: column;
  align-items:center;  
  gap: 2rem;
}

.rowContainer {
  /* width: 100%;  */
  padding: 1rem 1rem;
  /* margin: 3rem auto 1rem; */
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center; 
  gap: 2rem;
}

.textContainer {
  width: 100%;
  padding: 1rem 1rem;
  /* margin: 3rem auto 1rem; */
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  /* justify-content: flex-start;   */
  /* gap: 2rem; */
}

.blogContainer {
  max-width: 36rem;
  padding: 3rem 2rem;
}

.backgroundSand {
  background-color: var(--sand);
}

.backgroundSeaFoam {
  background-color: var(--sea-foam);
}

.backgroundShallow {
  background-color: var(--shallow);
}


.seaFoam {
  background-color: var(--sea-foam);
  margin-top: -.1rem;
}

.shallow {
  background-color: var(--shallow);
  margin-bottom: -.1rem;
}

.skyBlue {
  background-color: var(--sky-blue);
  margin-bottom: -.1rem;
}

.shallowColor {
  background-color: var(--sea-foam);
}

.boatButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.shadow {
  filter: drop-shadow(-10px, -10px, 10px, black) !important;
}

.buttonText {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 1.9em;
  top: 17%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
  color: #064273;
}

.card {
  /* padding: 1em 1em; */
  background-color: #f2f2f2;
  /* width: 100%; */
  border-radius: 3%;
  margin-bottom: 15%;
  filter: drop-shadow(0 0 10px var(--sea-foam))
}

@media (max-width: 768px) {

    .heading2Xl {
      font-size: 2rem;
    }
      
    .headingXl {
      font-size: 1.5rem;
    }

    .headingLg {
      font-size: 1.2rem;
    }

    .headingMd {
      font-size: 1rem;
    }

}

@media (min-width: 769px) {

  .rowContainer {
    align-items: center;
  }

}
